.div__main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.div__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  aspect-ratio: 4/6;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.textarea__product{
  height: 22%;
  width: 100%;
}

.button__product{
  margin: 10px 20px;
}

.img__product{
  height: 40%;
  width: 70%;
  margin: 2%;
}

.div__product-title{
  width: 90%;
  height: 20%;
  margin: 2%;
  font-size: x-large;
  font-weight: bold;
  overflow-wrap:break-word;
  overflow: hidden;
}

.div__product-text{
  width: 90%;
  height: 20%;
  overflow-wrap:break-word;
  overflow: hidden;
}